*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 5px;
    border-radius: 2px;
    border: 2px solid black;
    border-color: blue;
    text-align: center;
    height: 100vh;
}
.grid-item{
    background-color: lightblue;
  

    height: 100%;
    padding: 10px;
    grid-column: 1 / 3;
    grid-row: 1/3;
    border-radius: 20px;

}
.item2{
    background-color: lightgreen;
    grid-column: 1/ 2;
    grid-row: 3;
    border-radius: 20px;
    /* grid-row: 1 / 2; */
}

.item3{
    background-color: lightcoral;
    grid-row: 3;
    border-radius: 20px;
}
.circle{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%; 
    margin: 150px 150px 

}
.text{
    font-size: 20px;
    font-weight: lighter;
    margin-left: 400px;

    padding: 20px;
    border-color: crimson;
    text-align: left;
    /* transform: translateX(-40px); */
    transform: translateY(-370px);
   

   
    
 
  
   
    
}
.circle img {
    object-fit: cover; /* ensures image fills circle */
    width: 100%;
    height: 100%;
    border-radius: 50%; /* makes image circular */
}


